@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-start" label="butts">
    <p>Gebe die NetId und Das subnetz ein</p>
    <form method="post">
        <input type="text" class="NetIDInput" placeholder="NetID" asp-for="NetIdEingabe"> /
        <input type="text" class="SubnetInput" placeholder="NetzAnteil(bits)" asp-for="NetzAnteilEingabe">
        <button class="btn_submit" type="submit">Update</button>
    </form>
    <p>@Model.Message</p>
</div>
<br>
<hr>

<div class="text-start" label="butts2">
    <table class="table table-success table-striped">
        <tHead>
            <tr>
                <th scope="col">Subnetzmaske</th>
                <th scope="col">NetID</th>
                <th scope="col">Erster host</th>
                <th scope="col">Letzter Host</th>
                <th scope="col">Broadcast</th>
                <th scope="col">Anzahl hosts</th>
                <th scope="col">NetzAnteil(bit)</th>
                <th scope="col">Netz teilen</th>
            </tr>
        </tHead>
        <tbody>
            @for(int i = 0; i<@Model.getList().Count; i++){
                <tr>
                    <td>@Model.getList()[i].SubnetzMaske</td>
                    <td>@Model.getList()[i].NetID</td>
                    <td>@Model.getList()[i].ErsterHost</td>
                    <td>@Model.getList()[i].LetzterHost</td>
                    <td>@Model.getList()[i].Broadcast</td>
                    <td>@Model.getList()[i].AnzahlHosts</td>
                    <td>@Model.getList()[i].NetzAnteil</td>
                    <td>
                        <form asp-page-handler="TeilenButtons" method="post" asp-route-splitOn="@i">
                            <button value="@i" type="submit">Teilen</button>
                        </form>
                    </td>
                </tr>
            } 
        </tbody>
    </table>   
</div>